@font-face{
    font-family: 'new';
    src:url('./assets/fonts/Mocking\ Bird\ -\ Personal\ Use.otf')
}


@font-face{
    font-family:'review-name';
    src:url('./assets/fonts/review-name.ttf')
}

@font-face{
    font-family: 'review-subtitle';
    src:url('./assets/fonts/review-subtitle.ttf')
}